*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page1{
    height: 99vh;
    width: 100%;
    /* border:  3px solid black; */
    background-image: linear-gradient(#FFFFFF,#E2F1FF);
    clip-path: polygon(0% 0%,100% 0%,100% 70%,0% 100%);
    box-shadow: 10px 10px 25px 10px;
}
.nav{
    height: 16vh;
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
}
#but{
    background-color: white;
    height: 7vh;
    width: 80%;
    border-radius: 20px;
    margin-top: 20px;
    border-color: #722ED1;
    color: #722ED1;
    margin-left: 10px;
}
.cont{
    display: flex;
    height: 83vh;
    width: 100%;
    /* border: 1px solid black; */
}
.cont1{
    height: 83vh;
    width: 50%;
    /* border: 1px solid black; */
}
.cont2{
    height: 83vh;
    width: 50%;
    /* border: 1px solid black; */
}
.box{
    height: 50vh;
    width: 70%;
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 85px;
}
.page2{
    height: 75vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
}
#boxes1{
    height: 80vh;
    width: 80vh;
    border: 1px solid #EEDFF9;
    margin-top: 110px;
    margin-left: 95px;
    border-radius: 50%;
    animation-name: leftRotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}
#boxes2{
    height: 60vh;
    width: 60vh;
     border: 1px solid #EEDFF9;;
     /* border: 1px solid black; */
     margin-top: -400px;
     margin-left: 60px;

    border-radius: 50%;    
    /* display: flex;  */
    animation-name: rightRotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    animation-direction: reverse;
    /* z-index: -2; */
    /* bottom: 50px; */
    /* right: -50 px; */
}
#boxes3{
    height: 40vh;
    width: 40vh;
     border: 1px solid #EEDFF9;;
     margin-top: -330px;
     margin-left: 60px;
    /* margin-top: 80px; */
    /* margin-left: 95px; */
    border-radius: 50%; 
    position: relative;
}
#boxes4{
    height: 20vh;
    width: 20vh;
     border: 1px solid #EEDFF9;;
     margin-top: 60px;
     margin-left: 60px;
    /* margin-top: 80px; */
    /* margin-left: 95px; */
    border-radius: 50%; 
    background-color: #FFFFFF;
    position: absolute;
    /* box-shadow color:#8989A21F; */
    box-shadow: 4px 4px #8989A21F;  
    /* box-shadow: #8989A21F; */
    position: relative;
}
@keyframes leftRotate {
    0%{

        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
@keyframes rightRotate {
    0%{

        transform: rotate(0deg);
    }

    100%{
        transform: rotate(-90deg);
    }
}
#boxes5{
    height: 40vh;
    width: 70%;
    /* border: 1px solid black; */
    margin-top: 200px;
    margin-left: 20px;
}
.page4{
    height: 90vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
.cont3{
    height: 80vh;
    width: 50%;
    /* border: 1px solid black; */
}
.img1{
    height: 80vh;
    width: 50%;
    /* border: 1px solid black; */
}
.page5{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#F9F0FF,#E2F1FF);
    clip-path: polygon(0% 30%,100% 0%,100% 70%,0% 100%);

}
/* ---------------------------------------------page 6----------------------------------------- */
.page6{
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
.animation{
    height: 100vh;
    width: 50%;
    /* border: 1px solid black; */
    /* position: relative; */
}
.move{
    height: 70vh;
    width: 70%;
    /* border: 1px solid black; */
    margin-top: 99px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.box1{
    width: 100%; 
    /* border: 3px solid black;  */
    height: 26vh;
    position: relative;
    z-index: 7;
    background-color: white;
}
.anime{
    width: 100%; 
    /* border: 1px solid black;  */
    height: 28vh;
    position: absolute;
    z-index: -10;
    /* top: 100px; */
    transform: translateY(200px);
    animation-name: slideUp;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-timing-function: linear;
}
@keyframes slideUp {
    0%{
        /* transform: translateY(0px); */
        top: 0;
    }
    
    100%{
        top: -200px;
        /* transform: translateY(-100px); */

    }
}
.page7{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #FBFCFF;
    
}
.b1{
    height: 90vh;
    width: 15%;
}
.b2{
    height: 90vh;
    width: 25%;
    
}
.b3{
    height: 90vh;
    width: 15%;
    
}
.b4{
    height: 100vh;
    width: 22%;
    
}
.b5{
    height: 90vh;
    width: 15%;
    
}
.b6{
    height: 90vh;
    width: 15%;
    
}
.b7{
    height: 90vh;
    width: 23%;
    
}
.b8{
    height: 90vh;
    width: 1%;
    
}
@media(max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .page1{
        height: 99vh;
        width: 100%;
        /* border:  3px solid black; */
        background-image: linear-gradient(#FFFFFF,#E2F1FF);
        clip-path: polygon(0% 0%,100% 0%,100% 70%,0% 100%);
        box-shadow: 10px 10px 25px 10px;
    }
    .nav{
        height: 16vh;
        width: 100%;
        display: flex;
        /* border: 1px solid black; */
    }
    #but{
        background-color: white;
        height: 7vh;
        width: 80%;
        border-radius: 20px;
        margin-top: 20px;
        border-color: #722ED1;
        color: #722ED1;
        margin-left: 10px;
    }
    .cont{
        display: flex;
        height: 83vh;
        width: 100%;
        /* border: 1px solid black; */
    }
    .cont1{
        height: 83vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .cont2{
        height: 83vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .box{
        height: 50vh;
        width: 70%;
        /* border: 1px solid black; */
        margin-left: 100px;
        margin-top: 85px;
    }
    .page2{
        height: 75vh;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .page3{
        height: 100vh;
        width: 100%;
        display: flex;
        /* border: 1px solid black; */
    }
    #boxes1{
        height: 80vh;
        width: 80vh;
        border: 1px solid #EEDFF9;
        margin-top: 110px;
        margin-left: 95px;
        border-radius: 50%;
        animation-name: leftRotate;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
    }
    #boxes2{
        height: 60vh;
        width: 60vh;
         border: 1px solid #EEDFF9;;
         /* border: 1px solid black; */
         margin-top: -400px;
         margin-left: 60px;
    
        border-radius: 50%;    
        /* display: flex;  */
        animation-name: rightRotate;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: relative;
        animation-direction: reverse;
        /* z-index: -2; */
        /* bottom: 50px; */
        /* right: -50 px; */
    }
    #boxes3{
        height: 40vh;
        width: 40vh;
         border: 1px solid #EEDFF9;;
         margin-top: -330px;
         margin-left: 60px;
        /* margin-top: 80px; */
        /* margin-left: 95px; */
        border-radius: 50%; 
        position: relative;
    }
    #boxes4{
        height: 20vh;
        width: 20vh;
         border: 1px solid #EEDFF9;;
         margin-top: 60px;
         margin-left: 60px;
        /* margin-top: 80px; */
        /* margin-left: 95px; */
        border-radius: 50%; 
        background-color: #FFFFFF;
        position: absolute;
        /* box-shadow color:#8989A21F; */
        box-shadow: 4px 4px #8989A21F;  
        /* box-shadow: #8989A21F; */
        position: relative;
    }
    @keyframes leftRotate {
        0%{
    
            transform: rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg);
        }
    }
    @keyframes rightRotate {
        0%{
    
            transform: rotate(0deg);
        }
    
        100%{
            transform: rotate(-90deg);
        }
    }
    #boxes5{
        height: 40vh;
        width: 70%;
        /* border: 1px solid black; */
        margin-top: 200px;
        margin-left: 20px;
    }
    .page4{
        height: 90vh;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
    }
    .cont3{
        height: 80vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .img1{
        height: 80vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .page5{
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(#F9F0FF,#E2F1FF);
        clip-path: polygon(0% 30%,100% 0%,100% 70%,0% 100%);
    
    }
    /* ---------------------------------------------page 6----------------------------------------- */
    .page6{
        height: 100vh;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
    }
    .animation{
        height: 100vh;
        width: 50%;
        /* border: 1px solid black; */
        /* position: relative; */
    }
    .move{
        height: 70vh;
        width: 70%;
        /* border: 1px solid black; */
        margin-top: 99px;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }
    .box1{
        width: 100%; 
        /* border: 3px solid black;  */
        height: 26vh;
        position: relative;
        z-index: 7;
        background-color: white;
    }
    .anime{
        width: 100%; 
        /* border: 1px solid black;  */
        height: 28vh;
        position: absolute;
        z-index: -10;
        /* top: 100px; */
        transform: translateY(200px);
        animation-name: slideUp;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        /* animation-direction: alternate; */
        animation-timing-function: linear;
    }
    @keyframes slideUp {
        0%{
            /* transform: translateY(0px); */
            top: 0;
        }
        
        100%{
            top: -200px;
            /* transform: translateY(-100px); */
    
        }
    }
    .page7{
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: #FBFCFF;
        
    }
    .b1{
        height: 90vh;
        width: 15%;
    }
    .b2{
        height: 90vh;
        width: 25%;
        
    }
    .b3{
        height: 90vh;
        width: 15%;
        
    }
    .b4{
        height: 100vh;
        width: 22%;
        
    }
    .b5{
        height: 90vh;
        width: 15%;
        
    }
    .b6{
        height: 90vh;
        width: 15%;
        
    }
    .b7{
        height: 90vh;
        width: 23%;
        
    }
    .b8{
        height: 90vh;
        width: 1%;
        
    }

}
    @media(min-width:900px) {
        *{
            margin: 0px;
            padding: 0px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .page1{
            height: 99vh;
            width: 100%;
            /* border:  3px solid black; */
            background-image: linear-gradient(#FFFFFF,#E2F1FF);
            clip-path: polygon(0% 0%,100% 0%,100% 70%,0% 100%);
            box-shadow: 10px 10px 25px 10px;
        }
        .nav{
            height: 16vh;
            width: 100%;
            display: flex;
            /* border: 1px solid black; */
        }
        #but{
            background-color: white;
            height: 7vh;
            width: 80%;
            border-radius: 20px;
            margin-top: 20px;
            border-color: #722ED1;
            color: #722ED1;
            margin-left: 10px;
        }
        .cont{
            display: flex;
            height: 83vh;
            width: 100%;
            /* border: 1px solid black; */
        }
        .cont1{
            height: 83vh;
            width: 50%;
            /* border: 1px solid black; */
        }
        .cont2{
            height: 83vh;
            width: 50%;
            /* border: 1px solid black; */
        }
        .box{
            height: 50vh;
            width: 70%;
            /* border: 1px solid black; */
            margin-left: 100px;
            margin-top: 85px;
        }
        .page2{
            height: 75vh;
            width: 100%;
            /* border: 1px solid black; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .page3{
            height: 100vh;
            width: 100%;
            display: flex;
            /* border: 1px solid black; */
        }
        #boxes1{
            height: 80vh;
            width: 80vh;
            border: 1px solid #EEDFF9;
            margin-top: 110px;
            margin-left: 95px;
            border-radius: 50%;
            animation-name: leftRotate;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: reverse;
        }
        #boxes2{
            height: 60vh;
            width: 60vh;
             border: 1px solid #EEDFF9;;
             /* border: 1px solid black; */
             margin-top: -400px;
             margin-left: 60px;
        
            border-radius: 50%;    
            /* display: flex;  */
            animation-name: rightRotate;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            position: relative;
            animation-direction: reverse;
            /* z-index: -2; */
            /* bottom: 50px; */
            /* right: -50 px; */
        }
        #boxes3{
            height: 40vh;
            width: 40vh;
             border: 1px solid #EEDFF9;;
             margin-top: -330px;
             margin-left: 60px;
            /* margin-top: 80px; */
            /* margin-left: 95px; */
            border-radius: 50%; 
            position: relative;
        }
        #boxes4{
            height: 20vh;
            width: 20vh;
             border: 1px solid #EEDFF9;;
             margin-top: 60px;
             margin-left: 60px;
            /* margin-top: 80px; */
            /* margin-left: 95px; */
            border-radius: 50%; 
            background-color: #FFFFFF;
            position: absolute;
            /* box-shadow color:#8989A21F; */
            box-shadow: 4px 4px #8989A21F;  
            /* box-shadow: #8989A21F; */
            position: relative;
        }
        @keyframes leftRotate {
            0%{
        
                transform: rotate(0deg);
            }
        
            100%{
                transform: rotate(360deg);
            }
        }
        @keyframes rightRotate {
            0%{
        
                transform: rotate(0deg);
            }
        
            100%{
                transform: rotate(-90deg);
            }
        }
        #boxes5{
            height: 40vh;
            width: 70%;
            /* border: 1px solid black; */
            margin-top: 200px;
            margin-left: 20px;
        }
        .page4{
            height: 90vh;
            width: 100%;
            /* border: 1px solid black; */
            display: flex;
        }
        .cont3{
            height: 80vh;
            width: 50%;
            /* border: 1px solid black; */
        }
        .img1{
            height: 80vh;
            width: 50%;
            /* border: 1px solid black; */
        }
        .page5{
            height: 100vh;
            width: 100%;
            background-image: linear-gradient(#F9F0FF,#E2F1FF);
            clip-path: polygon(0% 30%,100% 0%,100% 70%,0% 100%);
        
        }
        /* ---------------------------------------------page 6----------------------------------------- */
        .page6{
            height: 100vh;
            width: 100%;
            /* border: 1px solid black; */
            display: flex;
        }
        .animation{
            height: 100vh;
            width: 50%;
            /* border: 1px solid black; */
            /* position: relative; */
        }
        .move{
            height: 70vh;
            width: 70%;
            /* border: 1px solid black; */
            margin-top: 99px;
            margin-left: 90px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
        }
        .box1{
            width: 100%; 
            /* border: 3px solid black;  */
            height: 26vh;
            position: relative;
            z-index: 7;
            background-color: white;
        }
        .anime{
            width: 100%; 
            /* border: 1px solid black;  */
            height: 28vh;
            position: absolute;
            z-index: -10;
            /* top: 100px; */
            transform: translateY(200px);
            animation-name: slideUp;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            /* animation-direction: alternate; */
            animation-timing-function: linear;
        }
        @keyframes slideUp {
            0%{
                /* transform: translateY(0px); */
                top: 0;
            }
            
            100%{
                top: -200px;
                /* transform: translateY(-100px); */
        
            }
        }
        .page7{
            display: flex;
            height: 100vh;
            width: 100%;
            background-color: #FBFCFF;
            
        }
        .b1{
            height: 90vh;
            width: 15%;
        }
        .b2{
            height: 90vh;
            width: 25%;
            
        }
        .b3{
            height: 90vh;
            width: 15%;
            
        }
        .b4{
            height: 100vh;
            width: 22%;
            
        }
        .b5{
            height: 90vh;
            width: 15%;
            
        }
        .b6{
            height: 90vh;
            width: 15%;
            
        }
        .b7{
            height: 90vh;
            width: 23%;
            
        }
        .b8{
            height: 90vh;
            width: 1%;
            
        }

    }
        @media(min-width:500px) and (max-width:900px) {

            *{
                margin: 0px;
                padding: 0px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .page1{
                height: 99vh;
                width: 100%;
                /* border:  3px solid black; */
                background-image: linear-gradient(#FFFFFF,#E2F1FF);
                clip-path: polygon(0% 0%,100% 0%,100% 70%,0% 100%);
                box-shadow: 10px 10px 25px 10px;
            }
            .nav{
                height: 16vh;
                width: 100%;
                display: flex;
                /* border: 1px solid black; */
            }
            #but{
                background-color: white;
                height: 7vh;
                width: 80%;
                border-radius: 20px;
                margin-top: 20px;
                border-color: #722ED1;
                color: #722ED1;
                margin-left: 10px;
            }
            .cont{
                display: flex;
                height: 83vh;
                width: 100%;
                /* border: 1px solid black; */
            }
            .cont1{
                height: 83vh;
                width: 50%;
                /* border: 1px solid black; */
            }
            .cont2{
                height: 83vh;
                width: 50%;
                /* border: 1px solid black; */
            }
            .box{
                height: 50vh;
                width: 70%;
                /* border: 1px solid black; */
                margin-left: 100px;
                margin-top: 85px;
            }
            .page2{
                height: 75vh;
                width: 100%;
                /* border: 1px solid black; */
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            .page3{
                height: 100vh;
                width: 100%;
                display: flex;
                /* border: 1px solid black; */
            }
            #boxes1{
                height: 80vh;
                width: 80vh;
                border: 1px solid #EEDFF9;
                margin-top: 110px;
                margin-left: 95px;
                border-radius: 50%;
                animation-name: leftRotate;
                animation-duration: 30s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-direction: reverse;
            }
            #boxes2{
                height: 60vh;
                width: 60vh;
                 border: 1px solid #EEDFF9;;
                 /* border: 1px solid black; */
                 margin-top: -400px;
                 margin-left: 60px;
            
                border-radius: 50%;    
                /* display: flex;  */
                animation-name: rightRotate;
                animation-duration: 30s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                position: relative;
                animation-direction: reverse;
                /* z-index: -2; */
                /* bottom: 50px; */
                /* right: -50 px; */
            }
            #boxes3{
                height: 40vh;
                width: 40vh;
                 border: 1px solid #EEDFF9;;
                 margin-top: -330px;
                 margin-left: 60px;
                /* margin-top: 80px; */
                /* margin-left: 95px; */
                border-radius: 50%; 
                position: relative;
            }
            #boxes4{
                height: 20vh;
                width: 20vh;
                 border: 1px solid #EEDFF9;;
                 margin-top: 60px;
                 margin-left: 60px;
                /* margin-top: 80px; */
                /* margin-left: 95px; */
                border-radius: 50%; 
                background-color: #FFFFFF;
                position: absolute;
                /* box-shadow color:#8989A21F; */
                box-shadow: 4px 4px #8989A21F;  
                /* box-shadow: #8989A21F; */
                position: relative;
            }
            @keyframes leftRotate {
                0%{
            
                    transform: rotate(0deg);
                }
            
                100%{
                    transform: rotate(360deg);
                }
            }
            @keyframes rightRotate {
                0%{
            
                    transform: rotate(0deg);
                }
            
                100%{
                    transform: rotate(-90deg);
                }
            }
            #boxes5{
                height: 40vh;
                width: 70%;
                /* border: 1px solid black; */
                margin-top: 200px;
                margin-left: 20px;
            }
            .page4{
                height: 90vh;
                width: 100%;
                /* border: 1px solid black; */
                display: flex;
            }
            .cont3{
                height: 80vh;
                width: 50%;
                /* border: 1px solid black; */
            }
            .img1{
                height: 80vh;
                width: 50%;
                /* border: 1px solid black; */
            }
            .page5{
                height: 100vh;
                width: 100%;
                background-image: linear-gradient(#F9F0FF,#E2F1FF);
                clip-path: polygon(0% 30%,100% 0%,100% 70%,0% 100%);
            
            }
            /* ---------------------------------------------page 6----------------------------------------- */
            .page6{
                height: 100vh;
                width: 100%;
                /* border: 1px solid black; */
                display: flex;
            }
            .animation{
                height: 100vh;
                width: 50%;
                /* border: 1px solid black; */
                /* position: relative; */
            }
            .move{
                height: 70vh;
                width: 70%;
                /* border: 1px solid black; */
                margin-top: 99px;
                margin-left: 90px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                position: relative;
            }
            .box1{
                width: 100%; 
                /* border: 3px solid black;  */
                height: 26vh;
                position: relative;
                z-index: 7;
                background-color: white;
            }
            .anime{
                width: 100%; 
                /* border: 1px solid black;  */
                height: 28vh;
                position: absolute;
                z-index: -10;
                /* top: 100px; */
                transform: translateY(200px);
                animation-name: slideUp;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                /* animation-direction: alternate; */
                animation-timing-function: linear;
            }
            @keyframes slideUp {
                0%{
                    /* transform: translateY(0px); */
                    top: 0;
                }
                
                100%{
                    top: -200px;
                    /* transform: translateY(-100px); */
            
                }
            }
            .page7{
                display: flex;
                height: 100vh;
                width: 100%;
                background-color: #FBFCFF;
                
            }
            .b1{
                height: 90vh;
                width: 15%;
            }
            .b2{
                height: 90vh;
                width: 25%;
                
            }
            .b3{
                height: 90vh;
                width: 15%;
                
            }
            .b4{
                height: 100vh;
                width: 22%;
                
            }
            .b5{
                height: 90vh;
                width: 15%;
                
            }
            .b6{
                height: 90vh;
                width: 15%;
                
            }
            .b7{
                height: 90vh;
                width: 23%;
                
            }
            .b8{
                height: 90vh;
                width: 1%;
                
            }
            
        }
            @media(max-width:500px) { 
                *{
                    margin: 0px;
                    padding: 0px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .page1{
                    height: 99vh;
                    width: 100%;
                    /* border:  3px solid black; */
                    background-image: linear-gradient(#FFFFFF,#E2F1FF);
                    clip-path: polygon(0% 0%,100% 0%,100% 70%,0% 100%);
                    box-shadow: 10px 10px 25px 10px;
                }
                .nav{
                    height: 16vh;
                    width: 100%;
                    display: flex;
                    /* border: 1px solid black; */
                }
                #but{
                    background-color: white;
                    height: 7vh;
                    width: 80%;
                    border-radius: 20px;
                    margin-top: 20px;
                    border-color: #722ED1;
                    color: #722ED1;
                    margin-left: 10px;
                }
                .cont{
                    display: flex;
                    height: 83vh;
                    width: 100%;
                    /* border: 1px solid black; */
                }
                .cont1{
                    height: 83vh;
                    width: 50%;
                    /* border: 1px solid black; */
                }
                .cont2{
                    height: 83vh;
                    width: 50%;
                    /* border: 1px solid black; */
                }
                .box{
                    height: 50vh;
                    width: 70%;
                    /* border: 1px solid black; */
                    margin-left: 100px;
                    margin-top: 85px;
                }
                .page2{
                    height: 75vh;
                    width: 100%;
                    /* border: 1px solid black; */
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
                .page3{
                    height: 100vh;
                    width: 100%;
                    display: flex;
                    /* border: 1px solid black; */
                }
                #boxes1{
                    height: 80vh;
                    width: 80vh;
                    border: 1px solid #EEDFF9;
                    margin-top: 110px;
                    margin-left: 95px;
                    border-radius: 50%;
                    animation-name: leftRotate;
                    animation-duration: 30s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: reverse;
                }
                #boxes2{
                    height: 60vh;
                    width: 60vh;
                     border: 1px solid #EEDFF9;;
                     /* border: 1px solid black; */
                     margin-top: -400px;
                     margin-left: 60px;
                
                    border-radius: 50%;    
                    /* display: flex;  */
                    animation-name: rightRotate;
                    animation-duration: 30s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    position: relative;
                    animation-direction: reverse;
                    /* z-index: -2; */
                    /* bottom: 50px; */
                    /* right: -50 px; */
                }
                #boxes3{
                    height: 40vh;
                    width: 40vh;
                     border: 1px solid #EEDFF9;;
                     margin-top: -330px;
                     margin-left: 60px;
                    /* margin-top: 80px; */
                    /* margin-left: 95px; */
                    border-radius: 50%; 
                    position: relative;
                }
                #boxes4{
                    height: 20vh;
                    width: 20vh;
                     border: 1px solid #EEDFF9;;
                     margin-top: 60px;
                     margin-left: 60px;
                    /* margin-top: 80px; */
                    /* margin-left: 95px; */
                    border-radius: 50%; 
                    background-color: #FFFFFF;
                    position: absolute;
                    /* box-shadow color:#8989A21F; */
                    box-shadow: 4px 4px #8989A21F;  
                    /* box-shadow: #8989A21F; */
                    position: relative;
                }
                @keyframes leftRotate {
                    0%{
                
                        transform: rotate(0deg);
                    }
                
                    100%{
                        transform: rotate(360deg);
                    }
                }
                @keyframes rightRotate {
                    0%{
                
                        transform: rotate(0deg);
                    }
                
                    100%{
                        transform: rotate(-90deg);
                    }
                }
                #boxes5{
                    height: 40vh;
                    width: 70%;
                    /* border: 1px solid black; */
                    margin-top: 200px;
                    margin-left: 20px;
                }
                .page4{
                    height: 90vh;
                    width: 100%;
                    /* border: 1px solid black; */
                    display: flex;
                }
                .cont3{
                    height: 80vh;
                    width: 50%;
                    /* border: 1px solid black; */
                }
                .img1{
                    height: 80vh;
                    width: 50%;
                    /* border: 1px solid black; */
                }
                .page5{
                    height: 100vh;
                    width: 100%;
                    background-image: linear-gradient(#F9F0FF,#E2F1FF);
                    clip-path: polygon(0% 30%,100% 0%,100% 70%,0% 100%);
                
                }
                /* ---------------------------------------------page 6----------------------------------------- */
                .page6{
                    height: 100vh;
                    width: 100%;
                    /* border: 1px solid black; */
                    display: flex;
                }
                .animation{
                    height: 100vh;
                    width: 50%;
                    /* border: 1px solid black; */
                    /* position: relative; */
                }
                .move{
                    height: 70vh;
                    width: 70%;
                    /* border: 1px solid black; */
                    margin-top: 99px;
                    margin-left: 90px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    position: relative;
                }
                .box1{
                    width: 100%; 
                    /* border: 3px solid black;  */
                    height: 26vh;
                    position: relative;
                    z-index: 7;
                    background-color: white;
                }
                .anime{
                    width: 100%; 
                    /* border: 1px solid black;  */
                    height: 28vh;
                    position: absolute;
                    z-index: -10;
                    /* top: 100px; */
                    transform: translateY(200px);
                    animation-name: slideUp;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    /* animation-direction: alternate; */
                    animation-timing-function: linear;
                }
                @keyframes slideUp {
                    0%{
                        /* transform: translateY(0px); */
                        top: 0;
                    }
                    
                    100%{
                        top: -200px;
                        /* transform: translateY(-100px); */
                
                    }
                }
                .page7{
                    display: flex;
                    height: 100vh;
                    width: 100%;
                    background-color: #FBFCFF;
                    
                }
                .b1{
                    height: 90vh;
                    width: 15%;
                }
                .b2{
                    height: 90vh;
                    width: 25%;
                    
                }
                .b3{
                    height: 90vh;
                    width: 15%;
                    
                }
                .b4{
                    height: 100vh;
                    width: 22%;
                    
                }
                .b5{
                    height: 90vh;
                    width: 15%;
                    
                }
                .b6{
                    height: 90vh;
                    width: 15%;
                    
                }
                .b7{
                    height: 90vh;
                    width: 23%;
                    
                }
                .b8{
                    height: 90vh;
                    width: 1%;
                    
                }
                
            }
@media (max-width: 945px) {
    *{
        margin: 0px;
        padding: 0px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .page1{
        height: 99vh;
        width: 100%;
        /* border:  3px solid black; */
        background-image: linear-gradient(#FFFFFF,#E2F1FF);
        clip-path: polygon(0% 0%,100% 0%,100% 70%,0% 100%);
        box-shadow: 10px 10px 25px 10px;
    }
    .nav{
        height: 16vh;
        width: 100%;
        display: flex;
        /* border: 1px solid black; */
    }
    #but{
        background-color: white;
        height: 7vh;
        width: 80%;
        border-radius: 20px;
        margin-top: 20px;
        border-color: #722ED1;
        color: #722ED1;
        margin-left: 10px;
    }
    .cont{
        display: flex;
        height: 83vh;
        width: 100%;
        /* border: 1px solid black; */
    }
    .cont1{
        height: 83vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .cont2{
        height: 83vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .box{
        height: 50vh;
        width: 70%;
        /* border: 1px solid black; */
        margin-left: 100px;
        margin-top: 85px;
    }
    .page2{
        height: 75vh;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .page3{
        height: 100vh;
        width: 100%;
        display: flex;
        /* border: 1px solid black; */
    }
    #boxes1{
        height: 80vh;
        width: 80vh;
        border: 1px solid #EEDFF9;
        margin-top: 110px;
        margin-left: 95px;
        border-radius: 50%;
        animation-name: leftRotate;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
    }
    #boxes2{
        height: 60vh;
        width: 60vh;
         border: 1px solid #EEDFF9;;
         /* border: 1px solid black; */
         margin-top: -400px;
         margin-left: 60px;
    
        border-radius: 50%;    
        /* display: flex;  */
        animation-name: rightRotate;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: relative;
        animation-direction: reverse;
        /* z-index: -2; */
        /* bottom: 50px; */
        /* right: -50 px; */
    }
    #boxes3{
        height: 40vh;
        width: 40vh;
         border: 1px solid #EEDFF9;;
         margin-top: -330px;
         margin-left: 60px;
        /* margin-top: 80px; */
        /* margin-left: 95px; */
        border-radius: 50%; 
        position: relative;
    }
    #boxes4{
        height: 20vh;
        width: 20vh;
         border: 1px solid #EEDFF9;;
         margin-top: 60px;
         margin-left: 60px;
        /* margin-top: 80px; */
        /* margin-left: 95px; */
        border-radius: 50%; 
        background-color: #FFFFFF;
        position: absolute;
        /* box-shadow color:#8989A21F; */
        box-shadow: 4px 4px #8989A21F;  
        /* box-shadow: #8989A21F; */
        position: relative;
    }
    @keyframes leftRotate {
        0%{
    
            transform: rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg);
        }
    }
    @keyframes rightRotate {
        0%{
    
            transform: rotate(0deg);
        }
    
        100%{
            transform: rotate(-90deg);
        }
    }
    #boxes5{
        height: 40vh;
        width: 70%;
        /* border: 1px solid black; */
        margin-top: 200px;
        margin-left: 20px;
    }
    .page4{
        height: 90vh;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
    }
    .cont3{
        height: 80vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .img1{
        height: 80vh;
        width: 50%;
        /* border: 1px solid black; */
    }
    .page5{
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(#F9F0FF,#E2F1FF);
        clip-path: polygon(0% 30%,100% 0%,100% 70%,0% 100%);
    
    }
    /* ---------------------------------------------page 6----------------------------------------- */
    .page6{
        height: 100vh;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
    }
    .animation{
        height: 100vh;
        width: 50%;
        /* border: 1px solid black; */
        /* position: relative; */
    }
    .move{
        height: 70vh;
        width: 70%;
        /* border: 1px solid black; */
        margin-top: 99px;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }
    .box1{
        width: 100%; 
        /* border: 3px solid black;  */
        height: 26vh;
        position: relative;
        z-index: 7;
        background-color: white;
    }
    .anime{
        width: 100%; 
        /* border: 1px solid black;  */
        height: 28vh;
        position: absolute;
        z-index: -10;
        /* top: 100px; */
        transform: translateY(200px);
        animation-name: slideUp;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        /* animation-direction: alternate; */
        animation-timing-function: linear;
    }
    @keyframes slideUp {
        0%{
            /* transform: translateY(0px); */
            top: 0;
        }
        
        100%{
            top: -200px;
            /* transform: translateY(-100px); */
    
        }
    }
    .page7{
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: #FBFCFF;
        
    }
    .b1{
        height: 90vh;
        width: 15%;
    }
    .b2{
        height: 90vh;
        width: 25%;
        
    }
    .b3{
        height: 90vh;
        width: 15%;
        
    }
    .b4{
        height: 100vh;
        width: 22%;
        
    }
    .b5{
        height: 90vh;
        width: 15%;
        
    }
    .b6{
        height: 90vh;
        width: 15%;
        
    }
    .b7{
        height: 90vh;
        width: 23%;
        
    }
    .b8{
        height: 90vh;
        width: 1%;
        
    }
    
}



